<!DOCTYPE html>
    <html>
    <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <title>Flask Google Maps Example</title>
            <link rel="stylesheet" href="">
              {{sndmap.js}}
    </head>

    

    <body>
     
       
  <h2>{{ place }} nearby You  <a  onclick="window.history.back();return false;" href='#'>Go Back</a></h2>
        {{sndmap.html}}

     

<script>
function goBack() {
    window.history.back();
}
</script>
       
    </body>
</html>

